WccoBarcodeDB/XmlFiles/WorkCenters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/WorkCenters.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dsWorkCenters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="codes">
          <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required" />
            <xs:attribute name="desc" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>